body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}


button {
    margin-left: 5px;
}